*{
    font-family: 'Courier New', Courier, monospace;
    background-color: lightgray;
    margin: 2px;
    padding: 0;
    border-radius: 10px;
}
body{
    height: 100vh;
    width: 98vw;
}

@media (max-width : 414px) {
    body {
        font-size: 18px;
        height: 200px;
    }
    fieldset{
        height: 100px;
        width: auto;
    }
    .figureH1{
        width: 200px;
        height: 150px;
    }
    .atividadesFisica{
        width: 10vw;
        height: auto;
    }
    .element{
        margin-top: 80px;
    }
}
@media (max-width: 320px){
    body{
        font-size: 10px;
    }
}

.figureH1 img{
    clip-path: polygon(0 34%, 100% 9%, 100% 93%, 0 79%);
}

button{
    color: white;
    cursor: pointer;
    box-shadow: 0 -2px 10px 2px rgba(0,0,0,.25);
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    background-color: gray;
    border-radius: 20%;
}
button:hover{
    background-color: yellow;
    color: black;
}
.container{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: center;
}
.rodape{
    margin-top: 50px;
    font-size: 10px;
    display: flex;
    justify-content: flex-end;
}
#margem-body{
    height: 130vh;
    font-family: monospace;
}
.linhaResultado{
    margin-top: 20px;
}

p{
    margin-left,
    margin-right: 10px;
}

.atividadesFisica {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.atividadesFisica:after {
    content: "";
    clear: both;
}
  
.atividadeFisica {
    border: 1px solid #ccc;
    box-sizing: border-box;
    float: left;
    height: 50px;
    position: relative;
    width: 100px;
    top: 1px
}
  
.atividadeFisica{
    margin-left: 35px;
}

.atividadeFisica label {
    background: #fff no-repeat center center;
    bottom: 1px;
    cursor: pointer;
    display: block;
    font-size: 0;
    left: 1px;
    position: absolute;
    right: 1px;
    text-indent: 100%;
    top: 1px;
    white-space: nowrap;
}

.sedentaria label {
    background-image: url(src/intensa.jpg);
    background-size: 80px;
}

.moderada label {
    background-image: url(src/moderada.jpg);
    background-size: 80px;
}

.intensa label {
    background-image: url(src/sedentaria.jpg);
    background-size: 80px;
}

.atividadesFisica input:hover + label {
    outline: 2px dotted #21b4d0;
}
.atividadesFisica input:checked + label {
    outline: 2px dotted #0092af;
}
